#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #4d423d;
}

#chat_container {
    width: 80%;
    height: 70%;
    overflow-y: scroll;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

form {
    width: 80%;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

textarea {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-family: Arial, sans-serif;
    resize: none;
}

button {
    width: 10%;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
}

button img {
    width: 100%;
}
